@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --WHITE_90: #E4E4E7;
  --WHITE_95: #F1F1F3;
  --WHITE_97: #F7F7F8;
  --WHITE_99: #FCFCFD;
  --ABSOLUTE_WHITE: #FFFFFF;
  --ABSOLUTE_BLACK: #000000;
  --PURPLE_60: #703BF7;
  --PURPLE_65: #8254F8;
  --PURPLE_70: #946CF9;
  --PURPLE_75: #A685FA;
  --PURPLE_90: #DBCEFD;
  --PURPLE_95: #EDE7FE;
  --PURPLE_97: #F4F0FE;
  --PURPLE_99: #FBFAFF;
  --GREY_08: #141414;
  --GREY_10: #1A1A1A;
  --GREY_15: #262626;
  --GREY_20: #333333;
  --GREY_30: #4D4D4D;
  --GREY_40: #666666;
  --GREY_50: #808080;
  --GREY_60: #999999;
} */
* {
  font-family: "Urbanist", sans-serif;
}
svg {
  display: inline-block;
}
.embla {
  --gap-lg: 1.2rem;
  --gap-sm: 1.6rem;
  --gap: 1rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  margin-left: calc(var(--gap) * -1);
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: var(--gap);
}

@media (min-width: 768px) {
  .embla__container {
    margin-left: calc(var(--gap-sm) * -1);
  }
  .embla__slide {
    flex: 0 0 50%;
    padding-left: var(--gap-sm);
  }
}

@media (min-width: 1280px) {
  .embla__container {
    margin-left: calc(var(--gap-lg) * -1);
  }
  .embla__slide {
    flex: 0 0 33.33%;
    padding-left: var(--gap-lg);
  }
  /* .embla__slide:first-child {padding-left: 0px;} */
}

.bordery {
  position: relative;
}
.bordery::after {
  background-color: rgb(20 20 20);
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  width: 30px;
}